<p>Hello <%= @admin.first_name %>,</p>

<p>
  <strong><%= @user.full_name %></strong> (<%= @user.email %>) has voluntarily left the workspace <strong><%= @account.name %></strong>.
</p>

<p>They no longer have access to any projects or data.</p>

<p><%= link_to "Manage Team", members_url, target: "_blank" %></p>