<%= render "shared/modal" do %>
  <div data-action="turbo:submit-end->modal#submitEnd">
    <div class="flex items-center justify-between mbe-4">
      <h3 class="text-lg font-bold">Invite Team Member</h3>
    </div>

    <%= form_with(model: @invitation, url: invitations_path) do |form| %>
      <% if @invitation.errors.any? %>
        <div class="bg-red-50 text-red-700 p-3 rounded-md text-sm mbe-4">
          <%= @invitation.errors.full_messages.to_sentence %>
        </div>
      <% end %>

      <div class="flex flex-col gap-1 mbe-4">
        <%= form.label :email, "Email Address", class: "text-sm font-medium" %>
        <%= form.email_field :email, required: true, autofocus: true, placeholder: "colleague@company.com", class: "input i-full" %>
      </div>

      <div class="flex flex-col gap-1 mbe-6">
        <%= form.label :role, "Role", class: "text-sm font-medium" %>
        <%= form.select :role, [["Member (Can edit projects)", "member"], ["Admin (Can manage billing & people)", "admin"]], {}, { class: "input i-full" } %>
      </div>

      <div class="flex justify-end gap-2">
        <%= link_to "Cancel", members_path, class: "btn" %>
        <%= form.submit "Send Invitation", class: "btn bg-emerald-900 border-0 text-gray-50 hover:bg-green-700", data: { turbo_frame: "_top" } %>
      </div>
    <% end %>
  </div>
<% end %>